.sfs{
    font-size: 3.3vw;
}

.tfs{
    font-size: 6.3vw;
}

.textintrodc{
    font-size: 2vw;
    font-weight: 200;
}
.infodc{
    margin: 8vw 0 2vw 2vw;
    padding: 8vw 0 2.5vw 2.5vw;
    .subinfo{
        font-size: 4vw;
        padding-bottom: 1vw;
    }
    .subinfo2{
        font-size: 3vw;
    }
    .textinfodc{
        font-size: 3vw;
    }
}
.videoToño{
    width: 55%;
    height: 35vw;
    margin-left: 4vw;
    border: solid .7vw pink;
    border-radius: 8vw;
}
.textvideo{
    display: inline-block;
    margin-left: 3vw;
    font-size: 3vw;
}
.imgMaguey{
    margin: 2vw auto;
    padding: 2vw;
    width: 55vw;
    height: 55vw;
    background-color: pink;
    border-radius: 10vw;
}

.textMaguey{
    margin-left: 38vw;
    font-size: 2vw;
}