.intro{
    padding: 1.3vw;
    margin: 1.3vw 2.8vw;
    color: white;
    .sub{
        font-size: 2.8vw;
        font-weight: 100;
        text-decoration: underline;
    }
    .titulo{
        font-size: 5vw;
        margin: 1vw 0;
        color: white;
    }
    .textintro{
        font-size: 1.85vw;
    }
}
.inH{
    margin-top: 20vw;
    .infoH{
        display: flex;
        margin: 1vw;
        padding: 1vw 0 1vw 7vw;
        .imgH{
            width: 25%;
            border-radius: 4vw;
        }
        .textH{
            display: inline-block;
            padding-left: 5vw;
            .subih{
                font-size: 4vw;
            }
            .h3ih{
                padding-top:1vw ;
                font-size: 3.3vw;
            }
            
            .p1ih{
                font-size: 2.95vw;
            }
            .p2ih{
                font-size: 2.2vw;
            }
        }
    }
}
.video{
    margin: 3vw 3vw 6vw 12vw;
    position: relative;
    .videoh{
        width: 67%;
        height: 33vw;
        border: solid 10px #2d2dd1;
        border-radius: 7vw;
    }
    .redesh{
        display: inline-block;
        position: absolute;
        margin: 1vw 3vw;
        .erh{
            margin: 4vw;
            background-color: blue;
            width: 14vw;
            height: 4vw;
            display: block;
            text-align: center;
            line-height: 4vw;
            text-decoration: none;
            color: white;
            font-size: 2vw;
            font-weight: bold;
            border-radius: 3vw;
        }
    }
}

.galeriah{
    display: flex;
    justify-content: space-around;
    .imgHg{
        width: 15vw;
    }
    
}